https://github.com/tpope/vim-sensible
https://github.com/tpope/vim-surround
https://github.com/tpope/vim-repeat
https://github.com/tpope/vim-git
https://github.com/kien/ctrlp.vim
https://github.com/tomasr/molokai
https://github.com/tpope/vim-pathogen
https://github.com/rkulla/vimogen
