git://github.com/tpope/vim-sensible.git
git://github.com/tpope/vim-surround.git
git://github.com/tpope/vim-repeat
git://github.com/scrooloose/nerdtree.git
git://github.com/tpope/vim-git.git
git://github.com/tsaleh/vim-matchit.git
git://github.com/tomasr/molokai.git
