https://github.com/tpope/vim-sensible.git
https://github.com/tpope/vim-surround.git
https://github.com/tpope/vim-repeat
https://github.com/tpope/vim-git.git
https://github.com/kien/ctrlp.vim.git
https://github.com/tomasr/molokai.git
https://github.com/altercation/vim-colors-solarized.git
https://github.com/tpope/vim-pathogen.git
https://github.com/rkulla/vimogen.git
